<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Accueil</title>
	<link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>

	<div th:replace="~{fragments/entete :: frag-entete('Accueil')}"></div>


	<section class="container">
		<h2>Connexion</h2>
		<div class="article">
			<form th:action="@{/login}" method="post" class="login-form">
				<div class="input-group" sec:authorize="!isAuthenticated()">
					<label for="idUsername">Pseudo</label>
					<input type="text" id="idUsername" name="username" />
				</div>

				<div class="input-group" sec:authorize="!isAuthenticated()">
					<label for="idPassword">Mot de Passe</label>
					<input type="password" id="idPassword" name="password" />
				</div>

				<div class="button-group">
					<button type="submit" sec:authorize="!isAuthenticated()">Se connecter</button>
					<button type="submit" sec:authorize="isAuthenticated()"><a href="/logout">Déconnexion</a></button>
				</div>
			</form>
		</div>
	</section>

	<section class="container">
		<h2>Filtres</h2>
		<div class="article">
			<form th:action="@{/filtres}" method="post">
				<div class="input-group">
					<input name="textFilter" type="text" id="textFilter" placeholder="Le nom de l'article contient" />
				</div>
				<div class="input-group">
					<label for="selectCategorie">Catégorie</label>
					<select name="selectCategorie" id="noCategorie">
						<option value="0">--Toutes les catégories--</option>
						<option th:each="c : ${listCategories}" th:text="${c.libelle}" th:value="${c.noCategorie}">
						</option>
					</select>
				</div>
				<div sec:authorize="isAuthenticated()">
				<div id="radioFiltre">
					<input type="radio" id="ventes" name="filtre" value="ventes">
					<label for="ventes">Mes Ventes</label><br>
					<input type="radio" id="achats" name="filtre" value="achats">
					<label for="achats">Achats</label><br>
				</div>
				<div id="ventesForm" style="display: none;">
					<!-- Formulaire pour les ventes -->
					<input type="radio" id="ventesEnCours" name="vente" value="enCours">
					<label for="venteEnCours">Mes ventes en cours</label><br>
					<input type="radio" id="ventesEnAttentes" name="vente" value="enAttente">
					<label for="venteEnAttente">Mes ventes non débutées</label><br>
					<input type="radio" id="ventesTerminées" name="vente" value="terminee">
					<label for="ventesTerminées">Mes ventes terminées</label><br>
				</div>
				<div id="achatsForm" style="display: none;">
					<!-- Formulaire pour les achats -->
					<input type="checkbox" id="encheresOuvertes" name="encheresOuverte">
					<label for="encheresOuverte">Enchères ouvertes</label><br>
					<input type="checkbox" id="encheresEncours" name="encheresEncours">
					<label for="encheresEncours">Mes enchères en cours</label><br>
					<input type="checkbox" id="encheresRemportees" name="encheresRemportees">
					<label for="encheresRemportees">Mes Encheres Remportées</label><br>
				</div>
				</div>
					<div>
						<button type="submit">Filtrer</button>
					</div>
			</form>
			<div>
				<form action="/accueil" method="get">
					<button type="submit">Annuler</button>
				</form>
			</div>
		</div>
	</section>



	<section class="container">
		<h2>Liste des ventes</h2>
		<div th:each="a : ${listArticles}" class="article">
			<h3 th:text="${'ARTICLE : '+a.nomArticle}"></h3>
			<p th:text="${a.description}"></p>
			<p th:text="${'Début des enchères : '+a.dateDebutEncheres +'  Fin des enchères : '+a.dateFinEncheres}"></p>
			<p th:text="${'Mise à prix : ' + a.miseAPrix +' euros'}"></p>
			<p th:text="${'Catégorie : ' + a.categorie.libelle}"></p>
			<button th:if="${a.etatVente == 'enCours'}" sec:authorize="isAuthenticated()" type="button"><a th:href="@{'/acheter?noArticle=' + ${a.noArticle}}">Faire une enchère</a></button>
			<button th:if="${a.etatVente == 'enAttente'}" sec:authorize="isAuthenticated()" type="button"><a th:href="@{'/modificationArticle?noArticle=' + ${a.noArticle}}">Modifier mon article</a></button>
		</div>
	</section>

	<script>
		// Fonction pour afficher le formulaire en fonction du bouton radio sélectionné
		document.querySelectorAll('input[type=radio][name="filtre"]').forEach(function (radio) {
			radio.addEventListener('change', function () {
				if (this.value === 'ventes') {
					document.getElementById('ventesForm').style.display = 'block';
					document.getElementById('achatsForm').style.display = 'none';
				} else if (this.value === 'achats') {
					document.getElementById('achatsForm').style.display = 'block';
					document.getElementById('ventesForm').style.display = 'none';
				}
			});
		});
	</script>

</body>

</html>