<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Accueil</title>
	<link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>

	<header>
		<h1>Accueil</h1>
		Utilisateur connecté : <span sec:authentication="name"></span>
	</header>

	<nav>
		<button type="button" sec:authorize="!isAuthenticated()"><a href="/inscription">Inscription</a></button>
		<button type="button" sec:authorize="isAuthenticated()"><a href="/vendre">Vendre un article</a></button>
		<button type="button" sec:authorize="isAuthenticated()"><a href="/profil">Mon profil</a></button>
		<button type="button" sec:authorize="hasRole('ADMIN')"><a href="/administration">Administration</a></button>
	</nav>

	<section class="container">
		<h2>Connexion</h2>

		<form th:action="@{/login}" method="post" class="login-form">
			<div class="input-group" sec:authorize="!isAuthenticated()">
				<label for="idUsername">Pseudo</label>
				<input type="text" id="idUsername" name="username" />
			</div>

			<div class="input-group" sec:authorize="!isAuthenticated()">
				<label for="idPassword">Mot de Passe</label>
				<input type="password" id="idPassword" name="password" />
			</div>

			<div class="button-group">
				<button type="submit" sec:authorize="!isAuthenticated()">Se connecter</button>
				<button type="submit" sec:authorize="isAuthenticated()"><a href="/logout">Déconnexion</a></button>
			</div>
		</form>
	</section>

	<section class="container">
		<h2>Filtres</h2>
		<form th:action="@{/filtres}" method="post">
			<div class="input-group">
				<input name="textFilter" type="text" id="textFilter" placeholder="Le nom de l'article contient" />
			</div>
			<div class="input-group">
				<label for="selectCategorie">Catégorie</label>
				<select name="selectCategorie" id="noCategorie">
					<option th:each="c : ${listCategories}" th:text="${c.libelle}" th:value="${c.noCategorie}"></option>
				</select>
			</div>
			<div>
				<button type="submit">Filtrer</button>

			</div>
		</form>
		<div>
			<form action="/accueil" method="get">
				<button type="submit">Annuler</button>
			</form>
		</div>
	</section>

	<section class="container">
		<h2>Liste des ventes en cours</h2>
		<div th:each="a : ${listArticles}" class="article">
			<h3 th:text="${'ARTICLE : '+a.nomArticle}"></h3>
			<p th:text="${a.description}"></p>
			<p th:text="${'Début des enchères : '+a.dateDebutEncheres +'  Fin des enchères : '+a.dateFinEncheres}"></p>
			<p th:text="${'Mise à prix : ' + a.miseAPrix +' euros'}"></p>
   			 <button type="button"><a th:href="@{'/acheter?noArticle=' + ${a.noArticle}}">Faire une enchère</a></button>
			
		</div>
	</section>

</body>

</html>