<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Administration</title>
	<link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
	<div th:replace="~{fragments/entete :: frag-entete('Administration du site')}"></div>

	<section class="container">
		<h2>Liste des comptes utilisateurs</h2>
		<div>
			<table>
				<thead>
					<tr>
						<th>Numéro Utilisateur</th>
						<th>Pseudo</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Téléphone</th>
						<th>Email</th>
						<th>Adresse</th>
						<th>Statut (0 : Membre, 1 : Admin, -1 : Suspendu)</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u : ${listUtilisateurs}">
						<td th:text="${u.noUtilisateur}"></td>
						<td th:text="${u.pseudo}"></td>
						<td th:text="${u.nom}"></td>
						<td th:text="${u.prenom}"></td>
						<td th:text="${u.telephone}"></td>
						<td th:text="${u.email}"></td>
						<td th:text="${u.rue + ' ' + u.codePostal + ' ' + u.ville}"></td>
						<td th:text="${u.administrateur }"></td>

						<td>
							
							<form th:if="${u.administrateur == (0) || u.administrateur == (1) }" th:action="@{/desactivation}" method="post">
								<input type="text" name="noUtilisateur" th:value="${u.noUtilisateur}" hidden />
								<button type="submit">Désactiver Compte</button>
							</form>
							<form th:if="${u.administrateur == (-1)}" th:action="@{/activation}" method="post">
								<input type="text" name="noUtilisateur" th:value="${u.noUtilisateur}" hidden />
								<button type="submit">Activer Compte</button>
							</form>
							<form th:if="${u.administrateur == (0)}" th:action="@{/admin}" method="post">
								<input type="text" name="noUtilisateur" th:value="${u.noUtilisateur}" hidden />
								<button type="submit">Passage en ADMIN</button>
							</form>
							<form th:if="${u.administrateur == (1)}" th:action="@{/activation}" method="post">
								<input type="text" name="noUtilisateur" th:value="${u.noUtilisateur}" hidden />
								<button type="submit">Passage en MEMBRE</button>
							</form>
							<form th:if="${u.administrateur == (-1)}" th:action="@{/suppressionAdmin}" method="post">
								<input type="text" th:name="pseudoUtilisateur" th:value="${u.pseudo}" hidden />
								<button type="submit">Supprimer Compte</button>
							</form>
						</td>
					</tr>
				</tbody>
		</div>
	</section>
</body>

</html>