<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Détails de la vente</title>
	<link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
	<div th:replace="~{fragments/entete :: frag-entete('Détails de la vente')}"></div>     

	<section class="container">
		<ul>
			
			<li><span>Titre :</span> <span th:text="${article.nomArticle}"></span></li>
			<li><span>Description :</span> <span th:text="${article.description}"></span></li>
			<li><span>Début des enchères :</span> <span th:text="${article.dateDebutEncheres}"></span></li>
			<li><span>Fin des enchères :</span> <span th:text="${article.dateFinEncheres}"></span></li>
			<li><span>Mise à prix :</span> <span th:text="${article.miseAPrix}"></span></li>
			<li><span>Categorie :</span> <span th:text="${article.categorie.libelle}"></span></li>
			<li><span>Vendeur :</span> <span th:text="${article.vendeur.nom}"></span></li>

			
			
			<li th:if="${highestEnchere != null}">
 		    <span>Enchère la plus haute :</span> 
   			<span th:text="${highestEnchere.montantEnchere}"></span>
			</li>
		</ul>
		
	<form th:if="${peutSurencherir == true}" th:action="@{/surenchere}" method="post">
  		  <input type="hidden" name="noArticle" th:value="${article.noArticle}" />
   		 <div>
        <label for="montantEnchere">Surenchérir (en points) :</label>
        <input type="number" id="montantEnchere" name="montantEnchere" required>
  		  </div>
   
 	   <div>
        <button type="submit">Modifier mon enchère</button>
   		 </div>

  </form>

<form th:if="${peutSurencherir == false}" th:action="@{/encherir}" method="post">
    <input type="hidden" name="noArticle" th:value="${article.noArticle}" />
    <div>
        <label for="montantEnchere">Montant de l'enchère (en points) :</label>
        <input type="number" id="montantEnchere" name="montantEnchere" required>
        <!--ajouter attribut minimum =0 -->
    </div>
    <div>
        <button type="submit">Enchérir</button>
    </div>
</form>
	
	<p th:if="${highestEnchere != null}">
   		<span th:if="${highestEnchere.utilisateur.noUtilisateur == utilisateurConnecte.noUtilisateur}">Vous avez la meilleure enchère</span>
	</p>



	</section>
</body>

</html>