<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
	<div th:replace="~{fragments/entete :: frag-entete('Détails de la vente')}"></div>

	<section class="container">
		<ul>
			<li><span>Titre :</span> <span th:text="${article.nomArticle}"></span></li>
			<li><span>Description :</span> <span th:text="${article.description}"></span></li>
			<li><span>Début des enchères :</span> <span th:text="${article.dateDebutEncheres}"></span></li>
			<li><span>Fin des enchères :</span> <span th:text="${article.dateFinEncheres}"></span></li>
			<li><span>Mise à prix :</span> <span th:text="${article.miseAPrix}"></span></li>
			
			    <li><span>Enchère la plus haute :</span> <span th:text="${highestEnchere.montantEnchere}"></span></li>

			
		</ul>

		<form th:action="@{/encherir}" method="post">
			<input type="hidden" name="noArticle" th:value="${article.noArticle}" />
			<div>
				<label for="montantEnchere">Montant de l'enchère (en points) :</label>
				<input type="number" id="montantEnchere" name="montantEnchere" required>
				<!--ajouter attribut minimum =0 -->
			</div>
			<div>
				<button type="submit">Enchérir</button>
			</div>
		</form>
	</section>
</body>

</html>