<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Modifier mon profil</title>
	<link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
	<div th:replace="~{fragments/entete :: frag-entete('Modification du profil')}"></div>

	<section class="container">
		<div class="article">
			<form th:object="${article}" th:action="@{/modifierArticle}" method="post">
				<div>
					<label for="nom">Article</label>
					<input type="text" name="nomArticle" th:field="*{nomArticle}" required />
					<div th:replace="~{fragments/fragment-error :: frag-error('nomArticle')}"></div>
				</div>
				<div>
					<label for="description">Description</label>
					<input type="text" name="description" th:field="*{description}" required />
					<div th:replace="~{fragments/fragment-error :: frag-error('description')}"></div>
				</div>
				<div>
					<label for="categorie">Catégorie</label>
					<select name="noCategorie" id="selectCategorie" th:field="*{categorie}" required>
						<option th:each="c : ${listCategories}" th:text="${c.libelle}" th:value="${c.noCategorie}">
						</option>
					</select>
				</div>
				<div>
					<label for="prix">Mise à prix</label>
					<input type="number" name="prix" min="0" th:field="*{miseAPrix}" required />
					<div th:replace="~{fragments/fragment-error :: frag-error('miseAPrix')}"></div>
				</div>
				<div>
					<label for="dateDebut">Début de l'enchère</label>
					<input type="date" name="dateDebut" th:field="*{dateDebutEncheres}" required />
					<div th:replace="~{fragments/fragment-error :: frag-error('dateDebutEncheres')}"></div>
				</div>
				<div>
					<label for="dateFin">Fin de l'enchère</label>
					<input type="date" name="dateFin" th:field="*{dateFinEncheres}" required />
					<div th:replace="~{fragments/fragment-error :: frag-error('dateFinEncheres')}"></div>
				</div>

				<div id="retraitform">
					<h3>Retrait</h3>
					<div>
						<label for="rue">Rue</label>
						<input type="text" name="rue" th:field="*{lieuRetrait.rue}" required/>
					</div>
					<div>
						<label for="codePostal">Code Postal</label>
						<input type="text" name="codePostal" th:field="*{lieuRetrait.codePostal}" required/>
					</div>
					<div>
						<label for="ville">Ville</label>
						<input type="text" name="ville" th:field="*{lieuRetrait.ville}" required/>
					</div>
				</div>

				<div>
					<button type="submit">Enregistrer</button>
<!--					<button ><a href="/accueil">Annuler</a></button>-->
					
				</div>

			</form>
		</div>
	</section>
</body>

</html>