<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
	<header>
		<h1>Mon profil</h1>
	</header>

	<nav>
		<button type="button"><a href="/accueil">Accueil</a></button>
		<button type="button" sec:authorize="!isAuthenticated()"><a href="/inscription">Inscription</a></button>
		<button type="button" sec:authorize="isAuthenticated()"><a href="/vendre">Vendre un article</a></button>
		<button type="button" sec:authorize="isAuthenticated()" hidden><a href="/profil">Mon profil</a></button>
		<button type="button" sec:authorize="hasRole('ADMIN')"><a href="/administration">Administration</a></button>
	</nav>

	<section class="container">
		<ul>
			<li th:text="'Pseudo : ' + ${utilisateur.pseudo}"></li>
			<li th:text="'Nom : ' + ${utilisateur.nom}"></li>
			<li th:text="'Prénom : ' + ${utilisateur.prenom}"></li>
			<li th:text="'email : ' + ${utilisateur.email}"></li>
			<li th:text="'Téléphone : ' + ${utilisateur.telephone}"></li>
			<li th:text="'Rue : ' + ${utilisateur.rue}"></li>
			<li th:text="'Code postal : ' + ${utilisateur.codePostal}"></li>
			<li th:text="'Ville : ' + ${utilisateur.ville}"></li>
		</ul>



		<form action="">
			<button type="button"><a href="/modification-profil">Modifier mon profil</a></button>
		</form>
		<form th:action="@{/supprimer-compte}" method="post">


			<button type="submit">Supprimer mon compte</button>
		</form>

		</div>
		<section>
</body>

</html>